// MAIN colours
$M-01: hsl(231, 36%, 46%);
$M-02: hsl(12, 83%, 77%);

// DESATURATED colours
$D-01: hsl(231, 10%, 46%);
$D-02: hsl(12, 20%, 77%);

// SHADES
$S-01: hsl(231, 36%, 80%);
$S-02: hsl(12, 100%, 95%);

// STATES
$SUC: hsl(134, 62%, 40%);
$ERR: hsl(354, 70%, 54%);

// GREYscale
$G-00: hsl(0, 0%, 100%);
$G-01: hsl(210, 17%, 98%);
$G-02: hsl(210, 14%, 89%);
$G-03: hsl(210, 14%, 83%);
$G-04: hsl(208, 10%, 46%);
$G-05: hsl(208, 7%, 35%);
$G-06: hsl(210, 9%, 31%);
$G-07: hsl(45, 4%, 19%);
$G-08: hsl(60, 4%, 11%);
$G-09: hsl(0, 0%, 0%);
