@use "../abstracts" as *;

.hero--contactos {
	position: relative;
	z-index: 2;
}

.hero--contactos + hr {
	position: absolute;
	top: 6rem;
	z-index: 1;
	width: 100%;
	border: none;
	min-height: 45rem;
	background: $G-00;
	clip-path: url(#hero-path);

	@include mobile {
		min-height: 30rem;
		width: 150vw;
		left: -50vw;
	}
}

.map {
	position: relative;
	top: -6rem;
	width: 100%;
	height: 720px;
	z-index: -1;

	&::after {
		content: "";
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
		width: 6.5rem;
		height: 9rem;
		background: url(../img/pin.svg);
	}
}

iframe[src*="google.com/maps"] {
	width: 100%;
	height: 720px;
}

.map-frame {
    width: 100%;
    height: 100%;
    position: relative;
}

figure.mapa {
	position: relative;
	top: -6rem;

	img {
		display: block;
		width: 100%;
		height: 45rem;
		object-fit: cover;
		object-position: center;
	}
}

.contact + address {
	margin: 3rem 0 6rem;
	font-size: 1.75em;

	@include mobile {
		margin: 3rem 1rem 6rem;
	}

	ul li {
		margin: 0.5rem 0;

		a {
			display: block;
			padding-left: 3rem;
			background-position: left center;
			background-size: contain;
			background-repeat: no-repeat;
			color: $M-01;
			text-decoration: none;
		}

		&:nth-of-type(1) a {
			background-image: url(../img/ico-call.svg);
		}

		&:nth-of-type(2) a {
			background-image: url(../img/ico-mail.svg);
			background-size: 2.25rem;
			background-position: left bottom;
		}

		&:nth-of-type(3) a {
			margin-top: 3rem;
			background-image: url(../img/ico-pin.svg);

			@include mobile {
				background-size: 33px;
				background-position: left top;
			}
		}
	}
}
