@use "../abstracts" as *;

.news.wrapper nav.prev-next {
	display: block;
	margin: 2rem 0 6rem;

	ul {
		display: flex;
		justify-content: space-between;
		max-width: 75vw;
		margin: 0 auto;

		@include mobile {
			flex-direction: column;
		}

		li {
			position: relative;

			@include mobile {
				margin: 1.5rem 0;
			}

			a {
				display: block;
				margin: 0.5rem 0;
				font-size: clamp(1.25em, 4vw, 1.75em);
				color: $M-02;
				text-decoration: none;
				text-transform: uppercase;
			}

			img {
				width: 75px;
				height: 45px;
				margin: 0.5rem;
				object-fit: cover;
				vertical-align: sub;
			}

			span {
				display: inline-block;
				max-width: 30ch;
				max-height: 2.5em;
				font-size: clamp(1em, 3vw, 1.25em);
				color: $M-01;
				overflow: hidden;
				line-clamp: 2;
			}

			&:first-child {
				a::before {
					content: "";
					display: block;
					position: absolute;
					top: -0.45rem;
					left: -2.75rem;
					width: 3rem;
					height: clamp(3.25rem, 10vw, 4rem);
					background: $M-02;
					mask: url("../img/ico-prev-next.svg") center / contain no-repeat;
				}

				a:hover::before {
					animation: move-back 1s ease infinite;
					animation-fill-mode: both;
				}

				img {
					margin-left: 0;
				}
			}

			&:last-child {
				text-align: right;

				a::after {
					content: "";
					display: block;
					position: absolute;
					top: -0.45rem;
					right: -2.75rem;
					width: 3rem;
					height: clamp(3.25rem, 10vw, 4rem);
					background: $M-02;
					mask: url("../img/ico-prev-next.svg") center / contain no-repeat;
					transform: rotate(180deg);
				}

				a:hover::after {
					animation: move-forward 1s ease infinite;
					animation-fill-mode: both;
				}

				img {
					margin-right: 0;
				}
			}
			
			a.disabled {
				color: $G-05;
				pointer-events: none;

				&::before,
				&::after {
					background: $G-05;
				}
				
				&:hover {
					color: $G-05;
					
					&::before,
					&::after {
						animation: none;
					}
				}
			}
		}
	}
}